<?xml version="1.0" encoding="utf-8"?>
<robot
  name="Lens_Dual_Arm_Description">  
  <link
    name="Base_Link">  
    <inertial>
      <origin
        xyz="-0.0408768754850503 -1.29415237536626E-16 0.456680749882226"
        rpy="0 0 0" />
      <mass
        value="12.5314307448736" />
      <inertia
        ixx="0.294142132352272"
        ixy="2.74096793500097E-19"
        ixz="-0.00164264470583179"
        iyy="0.301153645796892"
        iyz="-4.21664672751305E-19"
        izz="0.0525499015836404" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lens_dual_arm_description/meshes/base_link.STL" /> 
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lens_dual_arm_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Right_Shoulder_Pitch_Link">  
    <inertial>
      <origin
        xyz="0.000169600583441315 0.00536118933013036 -1.06581410364015E-14"
        rpy="0 0 0" />
      <mass
        value="1.0729267006296" />
      <inertia
        ixx="0.000915509207829356"
        ixy="3.60481063056995E-05"
        ixz="1.01533032917366E-19"
        iyy="0.000626851067939033"
        iyz="-5.07343003299381E-20"
        izz="0.000739716956480902" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lens_dual_arm_description/meshes/right_shoulder_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lens_dual_arm_description/meshes/right_shoulder_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Right_Shoulder_Pitch_Joint"
    type="revolute">  
    <origin
      xyz="0 -0.1555 0.89"
      rpy="0 0 0" />
    <parent
      link="Base_Link" />  
    <child
      link="Right_Shoulder_Pitch_Link" />  
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.6"
      upper="3.2"
      effort="80"
      velocity="6.28" />
    <dynamics
      damping="0.1"
      friction="1" />
    <safety_controller
      soft_upper_limit="3.2"
      soft_lower_limit="-1.6"
      k_position="1"
      k_velocity="1" />
  </joint>
  <link
    name="Right_Shoulder_Roll_Link">  
    <inertial>
      <origin
        xyz="0.000146672225955762 1.88737914186277E-15 -0.08200641434429"
        rpy="0 0 0" />
      <mass
        value="0.630665183818432" />
      <inertia
        ixx="0.000507247081072811"
        ixy="1.35111381692763E-20"
        ixz="-7.37276910667808E-07"
        iyy="0.000491222617596428"
        iyz="-1.09688936343023E-19"
        izz="0.000270335000834568" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lens_dual_arm_description/meshes/right_shoulder_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.890196078431372 0.890196078431372 0.913725490196078 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lens_dual_arm_description/meshes/right_shoulder_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Right_Shoulder_Roll_Joint"
    type="revolute">  
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="Right_Shoulder_Pitch_Link" />
    <child
      link="Right_Shoulder_Roll_Link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.2"
      upper="0.1"
      effort="80"
      velocity="6.28" />
    <dynamics
      damping="0.1"
      friction="1" />
    <safety_controller
      soft_upper_limit="0.1"
      soft_lower_limit="-3.2"
      k_position="1"
      k_velocity="1" />
  </joint>
  <link
    name="Right_Shoulder_Yaw_Link">  
    <inertial>
      <origin
        xyz="0.00679261640238533 -0.000117253427666775 -0.129977555870596"
        rpy="0 0 0" />
      <mass
        value="0.614846988008381" />
      <inertia
        ixx="0.000494815083065845"
        ixy="7.45737293010214E-08"
        ixz="5.8941755414372E-06"
        iyy="0.00046676548644876"
        iyz="-1.17507913087479E-07"
        izz="0.000262360774865025" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lens_dual_arm_description/meshes/right_shoulder_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.890196078431372 0.890196078431372 0.913725490196078 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lens_dual_arm_description/meshes/right_shoulder_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Right_Shoulder_Yaw_Joint"
    type="revolute">  
    <origin
      xyz="0 0 -0.12"
      rpy="0 0 0" />
    <parent
      link="Right_Shoulder_Roll_Link" />
    <child
      link="Right_Shoulder_Yaw_Link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.355"
      upper="2.355"
      effort="36"
      velocity="6.28" />
    <dynamics
      damping="0.1"
      friction="1" />
    <safety_controller
      soft_upper_limit="2.355"
      soft_lower_limit="-2.355"
      k_position="1"
      k_velocity="1" />
  </joint>
  <link
    name="Right_Elbow_Pitch_Link">  
    <inertial>
      <origin
        xyz="-0.0090063110152557 -0.000240345521024171 -0.0743299812144339"
        rpy="0 0 0" />
      <mass
        value="0.589538608702173" />
      <inertia
        ixx="0.000387615745120338"
        ixy="-1.5118303743597E-08"
        ixz="-1.28925880934808E-05"
        iyy="0.000390308114953514"
        iyz="-9.51425709932357E-08"
        izz="0.000239628603656533" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lens_dual_arm_description/meshes/right_elbow_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.890196078431372 0.890196078431372 0.913725490196078 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lens_dual_arm_description/meshes/right_elbow_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Right_Elbow_Pitch_Joint"
    type="revolute">  
    <origin
      xyz="0.0095 0 -0.15"
      rpy="0 0 0" />
    <parent
      link="Right_Shoulder_Yaw_Link" />
    <child
      link="Right_Elbow_Pitch_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-0.1"
      upper="2.355"
      effort="36"
      velocity="6.28" />
    <dynamics
      damping="0.1"
      friction="1" />
    <safety_controller
      soft_upper_limit="2.355"
      soft_lower_limit="-0.1"
      k_position="1"
      k_velocity="1" />
  </joint>
  <link
    name="Right_Wrist_Yaw_Link">  
    <inertial>
      <origin
        xyz="-0.00628122336092774 -8.60558242640752E-06 -0.0552552877997034"
        rpy="0 0 0" />
      <mass
        value="0.491078451936018" />
      <inertia
        ixx="0.000237761162916227"
        ixy="-3.08197491694307E-08"
        ixz="1.64282072656749E-05"
        iyy="0.000260670012049319"
        iyz="1.5006087541753E-07"
        izz="0.000229172715705186" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lens_dual_arm_description/meshes/right_wrist_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.890196078431372 0.890196078431372 0.913725490196078 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lens_dual_arm_description/meshes/right_wrist_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Right_Wrist_Yaw_Joint"
    type="revolute">  
    <origin
      xyz="-0.0095 0 -0.11"
      rpy="0 0 0" />
    <parent
      link="Right_Elbow_Pitch_Link" />
    <child
      link="Right_Wrist_Yaw_Link" />
    <axis
      xyz="3.0843E-05 0 -1" />
    <limit
      lower="-2.355"
      upper="2.355"
      effort="36"
      velocity="6.28" />
    <dynamics
      damping="0.1"
      friction="1" />
    <safety_controller
      soft_upper_limit="2.355"
      soft_lower_limit="-2.355"
      k_position="1"
      k_velocity="1" />
  </joint>
  <link
    name="Right_Wrist_Roll_Link">  
    <inertial>
      <origin
        xyz="0.00459314320083518 0.00676484942055008 -0.05870265227866"
        rpy="0 0 0" />
      <mass
        value="0.489682386987798" />
      <inertia
        ixx="0.000286563654952449"
        ixy="-2.94113165252696E-06"
        ixz="-9.40007336764899E-06"
        iyy="0.000244899748701165"
        iyz="-6.07202990598762E-06"
        izz="0.000204397820215415" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lens_dual_arm_description/meshes/right_wrist_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lens_dual_arm_description/meshes/right_wrist_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Right_Wrist_Roll_Joint"
    type="revolute">  
    <origin
      xyz="0 0 -0.060001"
      rpy="0 -3.0843E-05 0" />
    <parent
      link="Right_Wrist_Yaw_Link" />
    <child
      link="Right_Wrist_Roll_Link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.6"
      upper="1.6"
      effort="36"
      velocity="6.28" />
    <dynamics
      damping="0.1"
      friction="1" />
    <safety_controller
      soft_upper_limit="1.6"
      soft_lower_limit="-1.6"
      k_position="1"
      k_velocity="1" />
  </joint>
  <link
    name="Right_Wrist_Pitch_Link">  
    <inertial>
      <origin
        xyz="1.80773868097006E-11 -0.000313215503693398 -0.0870203848053975"
        rpy="0 0 0" />
      <mass
        value="3.05681401713237" />
      <inertia
        ixx="0.0024102646401229"
        ixy="-1.86643536453016E-13"
        ixz="1.12051561617999E-12"
        iyy="0.00240824438650099"
        iyz="5.32357391147055E-06"
        izz="0.00314603573887058" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lens_dual_arm_description/meshes/right_wrist_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.890196078431372 0.890196078431372 0.913725490196078 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lens_dual_arm_description/meshes/right_wrist_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Right_Wrist_Pitch_Joint"
    type="revolute">  
    <origin
      xyz="0 0 -0.063999"
      rpy="0 3.0843E-05 0" />
    <parent
      link="Right_Wrist_Roll_Link" />
    <child
      link="Right_Wrist_Pitch_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.6"
      upper="1.6"
      effort="36"
      velocity="6.28" />
    <dynamics
      damping="0.1"
      friction="1" />
    <safety_controller
      soft_upper_limit="1.6"
      soft_lower_limit="-1.6"
      k_position="1"
      k_velocity="1" />
  </joint>
  <link
    name="Left_Shoulder_Pitch_Link">  
    <inertial>
      <origin
        xyz="0.000169600583440906 -0.00536118933013802 -3.33066907387547E-16"
        rpy="0 0 0" />
      <mass
        value="1.0729267006296" />
      <inertia
        ixx="0.000915509207829356"
        ixy="-3.60481063056997E-05"
        ixz="-2.18254413383262E-20"
        iyy="0.000626851067939032"
        iyz="-2.99474223792558E-20"
        izz="0.000739716956480902" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lens_dual_arm_description/meshes/left_shoulder_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lens_dual_arm_description/meshes/left_shoulder_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Left_Shoulder_Pitch_Joint"
    type="revolute">  
    <origin
      xyz="0 0.1555 0.89"
      rpy="0 0 0" />
    <parent
      link="Base_Link" />
    <child
      link="Left_Shoulder_Pitch_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.2"
      upper="1.6"
      effort="80"
      velocity="6.28" />
    <dynamics
      damping="0.1"
      friction="1" />
    <safety_controller
      soft_upper_limit="1.6"
      soft_lower_limit="-3.2"
      k_position="1"
      k_velocity="1" />
  </joint>
  <link
    name="Left_Shoulder_Roll_Link">  
    <inertial>
      <origin
        xyz="0.000146672225953867 1.0547118733939E-15 -0.0820064143442893"
        rpy="0 0 0" />
      <mass
        value="0.630665183818432" />
      <inertia
        ixx="0.000507247081072811"
        ixy="-2.96733323448762E-20"
        ixz="-7.37276910666266E-07"
        iyy="0.000491222617596428"
        iyz="1.81180118384495E-19"
        izz="0.000270335000834568" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lens_dual_arm_description/meshes/left_shoulder_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.890196078431372 0.890196078431372 0.913725490196078 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lens_dual_arm_description/meshes/left_shoulder_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Left_Shoulder_Roll_Joint"
    type="revolute">  
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="Left_Shoulder_Pitch_Link" />
    <child
      link="Left_Shoulder_Roll_Link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.1"
      upper="3.2"
      effort="80"
      velocity="6.28" />
    <dynamics
      damping="0.1"
      friction="1" />
    <safety_controller
      soft_upper_limit="3.2"
      soft_lower_limit="-0.1"
      k_position="1"
      k_velocity="1" />
  </joint>
  <link
    name="Left_Shoulder_Yaw_Link">  
    <inertial>
      <origin
        xyz="0.00679261640238963 -0.000117253427678626 -0.129977555870601"
        rpy="0 0 0" />
      <mass
        value="0.614846988008381" />
      <inertia
        ixx="0.000494815083065846"
        ixy="7.45737293010189E-08"
        ixz="5.89417554143715E-06"
        iyy="0.000466765486448761"
        iyz="-1.1750791308745E-07"
        izz="0.000262360774865025" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lens_dual_arm_description/meshes/left_shoulder_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.890196078431372 0.890196078431372 0.913725490196078 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lens_dual_arm_description/meshes/left_shoulder_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Left_Shoulder_Yaw_Joint"
    type="revolute">  
    <origin
      xyz="0 0 -0.120000000000001"
      rpy="0 0 0" />
    <parent
      link="Left_Shoulder_Roll_Link" />
    <child
      link="Left_Shoulder_Yaw_Link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.355"
      upper="2.355"
      effort="36"
      velocity="6.28" />
    <dynamics
      damping="0.1"
      friction="1" />
    <safety_controller
      soft_upper_limit="2.355"
      soft_lower_limit="-2.355"
      k_position="1"
      k_velocity="1" />
  </joint>
  <link
    name="Left_Elbow_Pitch_Link">  
    <inertial>
      <origin
        xyz="-0.00900631101525189 -0.000240345521089952 -0.074329981214461"
        rpy="0 0 0" />
      <mass
        value="0.589538608702172" />
      <inertia
        ixx="0.000387615745120337"
        ixy="-1.51183037436887E-08"
        ixz="-1.28925880934807E-05"
        iyy="0.000390308114953513"
        iyz="-9.51425709934851E-08"
        izz="0.000239628603656532" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lens_dual_arm_description/meshes/left_elbow_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.890196078431372 0.890196078431372 0.913725490196078 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lens_dual_arm_description/meshes/left_elbow_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Left_Elbow_Pitch_Joint"
    type="revolute">  
    <origin
      xyz="0.00950000000000007 0 -0.149999999999998"
      rpy="0 0 0" />
    <parent
      link="Left_Shoulder_Yaw_Link" />
    <child
      link="Left_Elbow_Pitch_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-0.1"
      upper="2.355"
      effort="36"
      velocity="6.28" />
    <dynamics
      damping="0.1"
      friction="1" />
    <safety_controller
      soft_upper_limit="2.355"
      soft_lower_limit="-0.1"
      k_position="1"
      k_velocity="1" />
  </joint>
  <link
    name="Left_Wrist_Yaw_Link">  
    <inertial>
      <origin
        xyz="-0.00628122336092885 -8.60558242243847E-06 -0.0552552877997314"
        rpy="0 0 0" />
      <mass
        value="0.491078451936018" />
      <inertia
        ixx="0.000237761162916226"
        ixy="-3.08197491694139E-08"
        ixz="1.64282072656747E-05"
        iyy="0.000260670012049319"
        iyz="1.50060875417553E-07"
        izz="0.000229172715705186" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lens_dual_arm_description/meshes/left_wrist_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.890196078431372 0.890196078431372 0.913725490196078 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lens_dual_arm_description/meshes/left_wrist_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Left_Wrist_Yaw_Joint"
    type="revolute">  
    <origin
      xyz="-0.00950000000000013 0 -0.11"
      rpy="0 0 0" />
    <parent
      link="Left_Elbow_Pitch_Link" />
    <child
      link="Left_Wrist_Yaw_Link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.355"
      upper="2.355"
      effort="36"
      velocity="6.28" />
    <safety_controller
      soft_upper_limit="2"
      soft_lower_limit="-2"
      k_position="1"
      k_velocity="1" />
  </joint>
  <link
    name="Left_Wrist_Roll_Link">  
    <inertial>
      <origin
        xyz="0.0046466 -0.0067499 -0.05856"
        rpy="0 0 0" />
      <mass
        value="0.49085" />
      <inertia
        ixx="0.00028849"
        ixy="2.928E-06"
        ixz="-9.3933E-06"
        iyy="0.00024663"
        iyz="6.1605E-06"
        izz="0.00020455" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lens_dual_arm_description/meshes/left_wrist_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8902 0.8902 0.91373 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lens_dual_arm_description/meshes/left_wrist_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Left_Wrist_Roll_Joint"
    type="revolute">  
    <origin
      xyz="0 0 -0.0600000000000002"
      rpy="0 0 0" />
    <parent
      link="Left_Wrist_Yaw_Link" />
    <child
      link="Left_Wrist_Roll_Link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.6"
      upper="1.6"
      effort="36"
      velocity="6.28" />
    <dynamics
      damping="0.1"
      friction="1" />
    <safety_controller
      soft_upper_limit="1.6"
      soft_lower_limit="-1.6"
      k_position="1"
      k_velocity="1" />
  </joint>
  <link
    name="Left_Wrist_Pitch_Link">  
    <inertial>
      <origin
        xyz="-1.8073E-11 0.00031322 -0.08702"
        rpy="0 0 0" />
      <mass
        value="3.0568" />
      <inertia
        ixx="0.0024103"
        ixy="-1.8664E-13"
        ixz="-1.1205E-12"
        iyy="0.0024082"
        iyz="-5.3236E-06"
        izz="0.003146" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lens_dual_arm_description/meshes/left_wrist_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8902 0.8902 0.91373 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lens_dual_arm_description/meshes/left_wrist_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Left_Wrist_Pitch_Joint"
    type="revolute">  
    <origin
      xyz="0 0 -0.0640000000000028"
      rpy="0 0 0" />
    <parent
      link="Left_Wrist_Roll_Link" />
    <child
      link="Left_Wrist_Pitch_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.6"
      upper="1.6"
      effort="36"
      velocity="6.28" />
    <dynamics
      damping="0.1"
      friction="1" />
    <safety_controller
      soft_upper_limit="1.6"
      soft_lower_limit="-1.6"
      k_position="1"
      k_velocity="1" />
  </joint>

  <link
    name="Left_Hand_Base_Link">
  </link>
  <joint
    name="Left_Hand_Base_Joint"
    type="fixed">
    <origin
      xyz="0.0 -0.02 -0.1"
      rpy="0 0 0" />
    <parent
      link="Left_Wrist_Pitch_Link" />
    <child
      link="Left_Hand_Base_Link" />
  </joint>

  <link
    name="Left_Gripper">
  </link>
  <joint
    name="Left_Gripper_Joint"
    type="prismatic">
    <origin
      xyz="0.0 0.0 0.0"
      rpy="0 0 0" />
    <parent
      link="Left_Hand_Base_Link" />
    <child
      link="Left_Gripper" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0.0"
      upper="0.05"
      effort="0"
      velocity="0" />
  </joint>

  <link
    name="Right_Hand_Base_Link">
  </link>
  <joint
    name="Right_Hand_Base_Joint"
    type="fixed">
    <origin
      xyz="0.0 0.02 -0.1"
      rpy="0 0 0" />
    <parent
      link="Right_Wrist_Pitch_Link" />
    <child
      link="Right_Hand_Base_Link" />
  </joint>

  <link
    name="Right_Gripper">
  </link>
  <joint
    name="Right_Gripper_Joint"
    type="prismatic">
    <origin
      xyz="0.0 0.0 0.0"
      rpy="0 0 0" />
    <parent
     link="Right_Hand_Base_Link" />
    <child
      link="Right_Gripper" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0.0"
      upper="0.05"
      effort="0"
      velocity="0" />
  </joint>
</robot>
